{% extends 'base.html' %}

{% block content %}
    <div class="block_ob">
    <div style="position: relative">
    <svg style="position: absolute;right: 0; top: 500px;"  width="232" height="310" viewBox="0 0 232 310" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle opacity="0.5" cx="155" cy="155" r="140" stroke="#DFE9FD" stroke-width="30"/>
</svg>
<div class="container">

        <div class="row">
            <div class="col-8"><h1 class="Bold_text" style="margin-bottom: 29px"><a>О нас</a>
                </h1>
                <strong>Лотос</strong> – стартап, основанный в 2019 году. Здесь вы можете сравнивать цены и получать скидки на анализы в Санкт-Петербурге.
               <br style="margin-top: 20px"> Мы поможем вам сдавать анализы проще и дешевле. Наша миссия - сделать медицину доступнее для каждого.<br>


        </div>

    </div>
        <h2 style="margin-top:66px">СМИ о нас </h2>
        <div class="row">
        <div class="smi col-lg"><a href="https://vc.ru/life/148306-servis-dlya-sravneniya-cen-na-analizy-kak-nam-udalos-vyrasti-v-pandemiyu-i-chem-nam-pomog-akselerator">

                 <img src="../../static/img/images/4AEBE51D2FF4DBD65AC7026F1EDCD60D%201.svg" class="images"></a></div>
            <div class="smi col-lg" ><a href="https://news.itmo.ru/ru/startups_and_business/startup/news/9616/">
                <img src="../../static/img/images/1200px-ITMO_University%201.svg" class="images" ></a></div>
            <div class="img_3 smi col-lg" > <a href="https://spark.ru/user/124337/blog/64344/pochemu-ne-stoit-ispolzovat-tilda-5-konkretnih-prichin">
                <img src="../../static/img/images/spark%201.svg" class="images" ></a></div>
        </div><h2 style="font-weight: bold;margin-bottom: 50px;margin-top: 50px">Наша команда</h2>
        <div class="row justify-content-around" >
                <div>
            <div style="position: relative">
                <img id="imag2" src="../../static/img/images/kolya_lotos_smaller%201.jpg" class="rounded float-left" style="padding-top: 7%;margin-bottom:23px; display: block;z-index: 3">
            </div>
                   <div style="text-align: center;">
                <p style="font-weight: bold;margin-bottom: initial; font-size: 18px;">Николай Половнев</p>
            <p class="Small_text" style="text-align: center;font-size:16px;">Директор</p>
                </div>
                </div>

            <div>
            <div style="background: #FFFFFF;box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.11);border-radius: 10px;position: relative">
                <img id="imag3" src="../../static/img/images/Lotos_nikita%201.jpg" class="rounded float-left" style="padding-top: 7%; margin-bottom:23px; display: block;z-index: 3">
            </div>
                <div style="text-align: center">
            <p style="font-weight: bold;margin-bottom: initial;font-size: 18px;">Никита Соболев</p>
            <p class="Small_text" style="font-size:16px; text-align: center">Технический директор</p>
                </div>
        </div>
        </div>
        <div class="col">
            <div class="col-lg-8" style="margin-top: 10%">
                <div class="row"><h2 style="margin-bottom: 36px">Cвяжитесь с нами любым удобным способом.<br>
                Мы всегда рады новым идеям и ответим на ваши вопросы</h2></div>

                <div class="row"><p>E-mail:&#160;&#160;</p><p style="font-weight:bold;">info@lotoslab.ru</p> </div>
            <div class="row"><p>Телефон:&#160;&#160;</p><p style="font-weight:bold;">+7 812 629 65 59</p> </div>
            <div class="row"><p>Соцсети:&#160;&#160;</p><p style="font-weight:bold;">Facebook • Instagram • VK</p> </div>
            <div class="row"><a href="https://lotoslab.ru/user-agreement" style="color: black">Пользовательское соглашение&#160;&#160;</a><p style="font-weight:bold;"></p> </div>
        </div>

    <div style="font-size: 12px">Реквизиты: ИП Половнев Николй Аркадьевич, 197110, Россия,
        г. Санкт-Петербург, набережная Адмирала Лазарева 20 лит. А, кв. 48ИНН: 780445287037<br>
        ОГРН: 320784700116422<br>
        Расчетный счет: 40802810500290001172</div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
